name: Dependency-Check (Dynamic Scan)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  sca:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run OWASP Dependency-Check
        uses: dependency-check/Dependency-Check_Action@v3.0.2
        with:
          project: ${{ github.repository }}
          path: .
          format: ALL
          out: reports
          failOnCVSS: 9
        env:
          JAVA_OPTS: -Xmx4g

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: reports
